body{ 
   background-color:black;
   margin:0px;
   font-family: Arial, Helvetica, sans-serif;
}

.tela_principal{
   background-repeat: no-repeat;
   background-position: center ;
   background-size:cover;
   width:100%;
   height:745px;
   background-image:linear-gradient(to bottom,black,transparent,black),url("background.jpg");
   margin:0px;
   border-bottom:6px;
   border-left:0px;
   border-right:0px;
   border-top:0px;
   border-style: solid;
   border-color: #808080;

}

header{
   width: 100%;
   height:100px;
}

.icone{
   width: 32%;
   height:110px;
   background-image:url("netflix_logo.png");
   background-repeat: no-repeat;
   background-position: bottom 25px right 230px;
}

.botao_entrar{
   position: absolute;
   right:20px;
   top: 20px;
   height: 40px;
   width: 80px;
   margin: 5px 25px 0px 30px;
   border: 1px solid red;
   border-radius: 2px;
   background-color: red;
   color:white;
   font-weight: bold;
   font-size: 15px;
}

.botao_idioma{
   position: absolute;
   right:170px;
   top: 25px;
   height: 40px;
   width: 120px;
   border: 1px solid white;
   border-radius:2px;
   background-color: black;
}

.idioma{
   font-size: 15px;
   text-align: center;
   margin: 12px 0px 0px 0px;
   color: white;
}

main{
   width: 100%;
   height:500px;
}

.menu{
   margin-top:110px;
}

.menu2{
   display: none;
   margin: 0% auto;
   height:470px;
   width:450px;
   background-color:black;
   color:grey;
   border-radius:2px;
   opacity:0.95;
   padding-top:5px;
}

.erro_login{
   display: none;
   font-style: normal;
   text-align: center;
   color: red;
}

.menu3{
   display: none;
   font-size: 15px;
   background-color:white;
   height:600px;
   width: 100%;
   border-color: indigo;
   border-style: solid; 
}

.busca{
   position: absolute;
   right:170px;
   top: 25px;
   height: 100px;
   width: 120px;
   border: 1px solid red;
   border-radius:2px;
   background-color: black;

}

.pesquisa_personagem{

   height: 100px;
   width: 80px;
   border: 1px solid red;
   border-radius: 2px;
   background-color: red;
   color:white;
   font-weight: bold;
   font-size: 15px;

}

.imagem_personagem{
   display: none;
   height:330px;
   background-image:url("netflix_logo.png");
   background-repeat: no-repeat;
   margin-left: 5px; 
}

.conteudo_login{
   display: block;
   margin: 0% auto;
   height: 75%;
   width: 75%;
   
}

.espaco_email{
   float:left;
   margin: 0px 0px 0px 26%;
   height:60px;
   right:300px;
   width:500px;
   background-color:white;
   color:grey;
   border:1px;
   border-style: solid;
   border-color: white;
}

.espaco_email_vermelho{
   float:left;
   height:60px;
   right:615px;
   width:185px;
   background-color:red;
   color:white; 
   border:1px;
   border-style: solid;
   border-color: red;
     
}

.email{
   margin: 20px 0px 0px 5px;
}

.vamos_la{
   margin:15px 1px 5px 30px;
   font-size: 25px;
}


input[type="text"]{
   background-color: #333;
   cursor: default;
   appearance: auto;
   outline: none;
   box-sizing: border-box;
   margin: 10px 3px 3px 5px;
   border: initial;
   color:white;
   font-weight: bold;
}

input[type="password"]{
   background-color:#333;
   cursor: default;
   appearance: auto;
   outline: none;
   box-sizing: border-box;
   margin: 10px 3px 3px 5px;
   border: initial;
   color:#8c8c8c;
   font-weight: bold;
}

.entrar{
   font-size: 30px;
   text-align: left;
   color: white;
   font-weight: bold;
}

.login{
  height: 40px;
  width: 100%;
  background-color:#333;
  border-radius:2px;
  margin-bottom:15px;
}

.entrar_login{
  margin-top:35px;
  height: 40px;
  width: 100%;
  background-color:red;
  border-radius:2px;
  font-size:20px;
  color:white;
  border-radius:2px;
  border-width: 0px;

}  

input[type="checkbox"]{
   background-color: initial;
   cursor: default;
   appearance: auto;
   box-sizing: border-box;
   margin: 7px 3px 3px 0px;
   padding: initial;
   border: initial;
   position: relative;
   right:25px;
   top: 1px;
}

.ajuda{
 display:inline-block;
 margin: 7px 0px 3px 30px;
 font-size:15px;
}

.icone_facebook{
  float:left;
  width: 16px;
  height:16px;
  background-image:url("facebook.png");
  background-repeat: no-repeat;
  margin-top:50px;
  padding: 0px 10px 0px 0px;
}

.facebook{

 margin: 27px 0px 3px 0px;
 font-size:15px;

}
.frase_menu{padding: 5px 0px 5px 0px;}
.saiba_mais{font-size: 13px}
span.branco{color:white;margin-left:2px}
span.azul{color:blue;margin-left:2px}

h1{ font-size: 30px; text-align: center; color:white ; letter-spacing: 2px;}
h2{ font-size: 25px; text-align: center; color:white ; line-height: 115%}
h3{ font-size: 20px; text-align: center; color:white }

@media only screen and (max-width:600px){
 
   h1{ font-size: 28px; text-align: center; color:white}
   h2{ font-size: 20px; text-align: center; color:white}
   h3{ font-size: 20px; text-align: center; color:white}
   
   .espaco_email{
       position: static;
       height:40px;
       width:350px;
       background-color:white;
       color:grey;
       border:1px;
       border-style: solid;
       border-color: black;
       max-width: 360px;
       margin: 0 auto;
    
   }
   
   .espaco_email_vermelho{
      position: static;
      height:40px;
      width:116px;
      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      background-color:red;
      color:white; 
      border:1px;
      border-style: solid;
      border-color: red;
      border-radius:2px;
     
   }
   
   .vamos_la{
      font-size:20px;
      margin: 8px 8px 0px 8px;
   }

   .icone{
      width: 5%;
      height:80px;
      width: 150px;
      background-image:url("netflix_logo2.png");
      background-repeat: no-repeat;
      background-position: center center;
   }

   .botao_entrar{
     position: absolute;
     right:20px;
     top: 20px;
     height: 30px;
     width: 80px;
     margin: 5px 10px 0px 30px;
     border: 1px solid red;
     border-radius: 5px;
     background-color: red;
   }

   .entrar{
     height: 40px;
     width: 80px;
     font-weight: bold;
     margin: 6px 0px 0px 0px;
   }

   .botao_idioma{
     right:125px;
     height: 30px;
     font-weight: bold;
     border-radius: 2px;
   }

   .idioma{
     margin: 3px 0px 0px 0px;
     font-weight: bold;
   }
  
   .email{
     margin: 10px 0px 0px 5px;
   }
}
